
<!DOCTYPE html>
<html lang="en">
<head>
  
    <title> Register Form </title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    
    <style media="screen">
     
    </style>
</head>
<body>
    <div class="background">
        
    <form>
        <h3>Register here</h3>
        <label for="fname">First Name</label>
        <input formControlName="fname" type="text" placeholder="Name " id="name">

        <label for="lname">Last Name</label>
        <input formControlName="lname" type="text" placeholder="Name " id="name">

        <label for="address">Address</label>
        <input formControlName="address" type="text" placeholder="Address " id="address">

        <label for="project">Project</label>
        <input formControlName="project" type="text" placeholder=" Project Name" id="project">

        <label for="projectstart">Project Start Date</label>
        <input formControlName="project" type="date" placeholder=" " id="project">

        <label for="projectend">Project End Date</label>
        <input formControlName="project" type="date" placeholder=" " id="project">
        
        <label for="SSN">Social Security Number</label>
        <input formControlName="SSN" type="password" placeholder="SSN " id="SSN">

        <label for="visastatus">Visa Status</label>
        <input formControlName="visastatus" type="text" placeholder="Status " id="visastatus">
        
        <label for="Email">Email</label>
        <input formControlName="email" type="text" placeholder="Email " id="Email">

        <label for="password">Password</label>
        <input formControlName="password" type="password" placeholder="Password" id="password">
       
    <br>
    
    
        <div id="container">
            <input type="submit" value="Register">
        </div>

    </form>
    </div>
</body>
</html>
